@import url('_reset.css');

body {
  font-family: Arial, sans-serif;
}

.container-boxes {
  display: flex;
  padding: 0 17%;
}

.our-sponsors {
  margin: 0.5%;
}

.title {
  text-transform: uppercase;
  line-height: 1.5rem;
  font-weight: bold;
}

.image {
  width: 100%;
  margin: 3% 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
}

.description {
  line-height: 2rem;
  margin-bottom: 15%;
}

.blue-box
.description
a {
  color: white;
}

.yellow-box
.description
a {
  color: black;
}

.list-box {
  line-height: 2rem;
}

.yellow-box
.button-container
.button {
  color: black;
}

.blue-box
.button-container
.button {
  color: #20a9e5;
}

.button-container
.button {
  width: auto;
  background: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3% 5%;
  text-transform: uppercase;
  margin-right: 5%;
}

.box {
  width: 100%;
  position: relative;
  margin: 0.5%;
  border: 10px solid;
  padding: 1%;
}

.container-boxes
.blue-box {
  background: #20a9e5;
  border-color: #50baea;
  color: white;
}

.container-boxes
.yellow-box {
  background: #ffd521;
  border-color: #ffde56;
  color: black;
}

.our-sponsors {
  display: flex;
  flex-direction: column;
  padding: 0 17%;
}

.our-sponsors
.sponsors-label{
  margin-top: 2%;
  text-transform: uppercase;
  font-size: 14px;
}

.our-sponsors
.sponsors-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 2% 0;
}

/* Small Devices */
@media only screen and (min-width : 480px) {
  .container-boxes {
    flex-direction: column;
    padding: 0;
  }

  .box {
    margin: 0;
    padding: 4%;
  }

  .button-container {
    justify-content: center;
  }

  .button-container
  .button {
    width: 100%;
    margin-right: 4%;
    margin-left: 4%;;
  }

  .our-sponsors {
    padding: unset;
    align-items: center;
  }

  .our-sponsors
  .sponsors-label{
    text-align: center;
    width: 80%;
  }

  .our-sponsors
  .sponsors-logo{
    width: 60%;
  }
}

 /* Desktops */
 @media only screen and (min-width : 992px) {
  .container-boxes {
    flex-direction: row;
    padding: 0 17%;
  }

  .box {
    padding: 1%;
    margin: 0.5%;
  }

  .button-container {
    justify-content: flex-end;
  }

  .button-container
  .button {
    width: auto;
    margin-right: 5%;
  }

  .our-sponsors {
    padding: 0 17%;
    align-items: left;
  }

  .our-sponsors
  .sponsors-label{
    text-align: left;
    width: 100%;
  }

  .our-sponsors
  .sponsors-logo{
    width: 100%;
  }
}
